<style> 
h2 { text-align: center; background-color: #B27092 }  
</style> 

<style> 
h1 { background-color: #87BAAB; text-align: center;  }  
</style> 

<style> 
p { text-align: left; }  
</style> 

<style> 
body { background-color: #F4BFDB; }  
</style> 